body{
font-family:Raleway, sans-serif;
text-align: center;
color: #333;
background:linear-gradient(to right,red, yellow);
display:block;
margin::0 auto;
text-transform:uppercase;
letter-spacing:.5em;
}

.zone{
	font:600 3em Raleway, sans-serif;
	
}
h3{
	font:600 1em Raleway, sans-serif;
	letter-spacing:.01px;
	text-transform:lowercase;
}